{% if messages %}
    {% for message in messages %}
        <div class="alert" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
{% if playlist_list %}
<h1>Playlists:</h1>
<form>
    <ul>
        {% for playlist in playlist_list %}
             <li><a class="btn btn-outline" href="{% url 'play_playlist_immediate' playlist.id %}">Play</a> {{ playlist.html_str | safe }}</li>
        {% endfor %}
    </ul>
</form>
{% endif %}
{% if audio_list %}
<h1>Tracks:</h1>
<form>
    <ul>
        {% for audio in audio_list %}
            <li><a class="btn btn-outline" href="{% url 'play_immediate' audio.id %}">Play</a> {{ audio.html_str | safe }}</li>
        {% endfor %}
    </ul>
</form>
{% endif %}
